/* style for section5 Div */
.section5{
    padding: 0 50px;
    background-color: #fff;
}
.section5Background{
    background-image: url(sterling/images/section5/kiki-banner.jpg);
    background-size: 100% 100%;
    position: relative;
    padding: 0 5%;
}
.section5Cover{
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section5Grid{
    padding: 10% 0;
    width: 100%;
}
.section5Header{
    color: #E17AA8;
    font-weight: 700;
    margin-bottom: 10px;
}
.section5HeaderBlack{
    color: #000;
    display: block;
}
.section5Para2{
    font-size: .8em;
    padding-left: 10px;
    color: rgb(68, 68, 68);
    border-left: 2px solid rgb(68, 68, 68);
}
.section5Link, .section5Link:hover{
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
}
.section5LinkItem{
    width: 120px;
    height: auto;
}
@media only screen and (max-width:767px){
    .section5{
        padding: 0;
    }
    .section5Background{
        background-size: cover;
        background-position: center;
    }  
}
@media only screen and (max-width:500px){
    .section5Background{
        width: 100%;
        min-width: 300px;
    }
}
/* end of section5 Div */


/* section6 Three Flex Display Images */
.section6{
    padding: 50px;
    justify-content: space-between;
}
.section6Item{
    border: 1px solid rgb(246, 246, 246);
    max-width: 32% !important;
}
.section6Anchor, .section6Anchor:hover{
    text-decoration: none;
    width: 100%;
}
.section6Img{
    width: 100%;
}
@media only screen and (max-width:767px){
    .section6{
        padding: 20px;
    }
    .section6Item{
        max-width: 100% !important;
        margin-bottom: 20px;
    }
}
/* end of section6 Three Flex Display Images */


/* section6 Latest News Update */
.section7{
    background-color: #fff;
    padding: 50px 50px 0 50px;
}
.section7Head, .section7Para{
    text-align: center;
}
.section7Para{
    padding-bottom: 20px;
}
.section7FlexCon{
    justify-content: space-between;
}
.section7Item{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-width: 32% !important;
}
.section7Item:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.section7Anchor, .section7Anchor:hover{
    text-decoration: none;
    color: rgb(58, 58, 58);
    width: 100%;
}
.section7Img{
    width: 100%;
    height: 40vh;
    background-color: #000;
    background-size: 100% 100%;
}
.section7Img1{
    background-image: url(sterling/images/section7/1.jpg);
}
.section7Img2{
    background-image: url(sterling/images/section7/2.jpg);
}
.section7Img3{
    background-image: url(sterling/images/section7/3.jpg);
}
.section7Description{
    padding: 20px 10px;
    width: 100%;
}
.section7ImgHeader{
 font-size: 1.5em;
 word-wrap: break-word;
}
.section7ImgPara{
    padding-top: 20px;
    font-size: .8em;
}
.section7ReadMore{
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100px;
    margin: 10px auto;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    background-color: #B21B21;
}
.section7ReadMore:hover{
    text-decoration: none;
    color: #fff;
    background-color: #55595c;
}
@media only screen and (max-width:1024px){
    .section7Item{
        max-width: 48% !important;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:767px){
    .section7{
        padding: 20px 20px 0 20px;
    }
    .section7Item{
        max-width: 100% !important;
        margin-bottom: 20px;
    }
}
/* end of section7 Latest News Update */

/* section8 Footer Div */
.section8{
    
}
.section8LinkCon{
    justify-content: space-between;
    background-color: #666666;
    padding: 20px 50px;
}
.section8List{
    list-style-type: none;
}

/* style for footer link show/hide */
#section8List1, #section8List2, #section8List3, #section8List4, #section8List5{
    list-style-type: none;
}
#listShow1, #listHide1, #listShow2, #listHide2, #listShow3, #listHide3, #listShow4, #listHide4, #listShow5, #listHide5{
    display: none;
    position: absolute;
    top: 0%;
    bottom: 0;
    width: 100%;
    border: none;
    text-align: end;
    background-color: transparent;
}
button span{
    background-color: #fff;
    color: #000;
    font-size: 700;
}
#listShow1, #listShow2, #listShow3, #listShow4, #listShow5{
    z-index: 2;
    color: #fff;
}
#listHide1, #listHide2, #listHide3, #listHide4, #listHide5{
    z-index: 1;
    color: #000;
}
@media only screen and (max-width:992px){
    .section8LinkCon{
        display: flex !important;
        justify-content: space-between !important;
        flex-wrap: wrap !important;
        padding: 20px 40px;
    }
    .section8List{
        list-style-type: none;
        max-width: 19% !important;
    }
    .section8ListItemHeader{
        padding: 0;
    }
    #listShow1, #listHide1, #listShow2, #listHide2, #listShow3, #listHide3, #listShow4, #listHide4, #listShow5, #listHide5{
        display: block;
    }
    #section8List1, #section8List2, #section8List3, #section8List4, #section8List5{
        display: none;
    }
}
@media only screen and (max-width:767px){
    .section8List{
        max-width: 100% !important;
    }
    .section8ListItemHeader{
        padding: 10px 0;
    }
}
/* End of style for footer link show/hide */
.section8ListItemHeader{
    color: #fff;
    font-weight: 600;
    position: relative;
}
.section8Anchor{
    text-decoration: none;
    color: rgb(197, 197, 197);
    font-size: .8em;
    display: block;
    padding: 5px 0;
}
.section8Anchor:hover{
    text-decoration: none;
    color:#fff;
}
.section8Icon{
    color: #fff;
    transform: rotate(-40deg);
}
.section8CopyRight{
    justify-content: space-between;
    background-color: #4A4A4A;
    padding: 10px 50px;
}
.section8CopyRightItem1, .section8CopyRightItem2{
    color: rgb(158, 158, 158);
    font-size: 0.7em;
    font-weight: 700;

}
.section8CopyRightItem2{
    text-align: right;
}

@media only screen and (max-width:767px){
    .section8LinkCon{
        padding: 20px;
    }
    .section8CopyRightItem1, .section8CopyRightItem2{
        text-align: center;
    }
}
/* end of section8 Footer Div */